/*--------------------------
          MIXINS
----------------------------*/
/*--------------------------
          GENERALES
----------------------------*/
a {
  text-decoration: none; }

/*-------------------------
        CUERPO
---------------------------*/
.body {
  background-color: #f0ad4e; }

/*--------------------------
          HEADER
----------------------------*/
.header {
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 0px 0px 7px 7px;
  margin-bottom: 10px;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  background-color: #222;
  padding: 1px 0 1px 0;
  text-align: center; }
  .header h1 {
    color: white;
    font-size: 52px; }

/*--------------------------
          NAVEGADOR
----------------------------*/
nav {
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 7px;
  margin-bottom: 10px;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  margin-top: 10px; }

/*-------------------------
        ENTRADAS
---------------------------*/
.entry {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  padding: 20px 10px;
  background-color: #222;
  border-radius: 10px; }
  .entry .title_entry {
    border-radius: 10px 10px 0px 0px;
    font-size: 25px;
    color: #428bca;
    font-weight: bold;
    margin-left: -10px;
    margin-top: -20px;
    margin-right: -10px;
    margin-bottom: 5px;
    padding: 0 0 0 20px;
    background-color: #080808; }
  .entry .content_entry {
    font-size: 15px;
    font-family: 'Times New Roman';
    margin-left: 5px; }
  .entry .content_entry .text{
    margin-bottom: 5px;
    color: white;
  }
  .entry .content_entry button{
    margin-top: 5px;}
  
