/*--------------------------
          MIXINS
----------------------------*/
/*--------------------------
          GENERALES
----------------------------*/
a {
  text-decoration: none; }

/*-------------------------
        CUERPO
---------------------------*/
body {
  background-color: #463F3F; }

/*--------------------------
          HEADER
----------------------------*/
.header {
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 7px;
  margin-bottom: 10px;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  background-color: #CCCCCC;
  padding: 1px 0 1px 0;
  text-align: center; }
  .header h1 {
    font-size: 52px; }

/*--------------------------
          NAVEGADOR
----------------------------*/
nav {
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 7px;
  margin-bottom: 10px;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  margin-top: 10px; }
  #nav ul {}
    #nav ul li {}

/*-------------------------
        ENTRADAS
---------------------------*/
.entrada {
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 7px;
  margin-bottom: 10px;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  padding: 20px 10px;
  display: grid;
  background-color: #CCCCCC;
  border-radius: 10px; }
  .entrada #titulo_entrada {
    border-radius: 7px;
    padding: 1px;
    font-size: 24px;
    font-family: 'Times New Roman';
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 5px; }
  .entrada #texto_entrada {
    display: block;
    font-size: 15px;
    font-family: 'Times New Roman';
    margin-left: 5px; }
  .entrada #texto_entrada button{
    margin-top: 5px;}
  .entrada #pie_entrada {
    font-weight: lighter;
    font-size: 13px;
    font-family: 'Times New Roman';
    margin-top: 10px; }
