/*-------------------------
        BARRA LATERAL
---------------------------*/


.barra_lateral{
    margin-bottom: 10px;
    
    width: 100%;
    margin-left: 10px;
    position: relative;
    .entradasAntiguas{

    }
}