/*-------------------------
        ENTRADAS
---------------------------*/
.entrada{
    @include pos($color_white);
  	padding: 20px 10px;
	display:grid;
	background-color: $color_white;
	border-radius: 10px;
	#titulo_entrada{
        background-color:$color_grey_light;
        border-radius: 7px;
        padding: 1px;
        font-size: 24px;
		font-family: 'Times New Roman';
        font-weight:bold;
		margin-left: 5px;
        margin-bottom: 5px;
	}
	#texto_entrada{
		font-size: 15px;
		font-family: 'Times New Roman';
		margin-left: 5px;
	}
	#pie_entrada{
        font-weight: lighter;
        font-size: 13px;
		font-family: 'Times New Roman';
		margin-top: 10px;
	}
	
}