/*--------------------------
          MIXINS
----------------------------*/

@mixin pos($color) {
    box-shadow: 5px 5px 0px 0px darken($color,50%);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 7px;
    margin-bottom: 10px;
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
}