/*--------------------------
          NAVEGADOR
----------------------------*/

.nav{
    color: #0090ff;
    border-radius: 10px;
    
    ul{
        text-decoration: none;
        display: inline;
    }
}