/*--------------------------
          NAVEGADOR
----------------------------*/

nav{  
   @include pos($color_blue_sky);
   background-color: $color_blue_sky;
    ul{
     list-style: none;
        li{
            margin-right: 10px;
            font-size: 23px;
            display:inline;
            font-weight: bold;
            font-style: italic;
            color: white;
        }
    }
}