
/*----------------------------*/
/*---------- BODYS -----------*/
/*----------------------------*/

.bdy{
	background-color: #C0C0C0;
	margin:0;
	padding:0;
}

.bdy-index{
	background-image: url(../assets/FondoTotal.png); 
}