
/*----------------------------*/
/*---------- FOOTS ----------*/
/*----------------------------*/

.foot{}

.fot-form{
	margin-top: -25px;
    margin-bottom: 5px; 

    a{
		margin-right: 10px;
    }
}