/*----------------------------*/
/*---------- LABELS ----------*/
/*----------------------------*/

.lbl{
	font-family: cursive;
	color: $purple;
}

.lbl-title{
    text-align: center;
    font-size: 56pt;
    display: block;
}

.lbl-subtitle{
  text-align: center;
  font-size: 14pt;
  font-weight: lighter;
  display: block;
}