<!DOCTYPE HTML>
<html>
<head>
    <title>JavForo</title>
    <meta charset="utf-8">
    <script src="app/js/vendor/underscore-min.js"></script>
    <script src="app/js/vendor/jquery-2.1.1.min.js"></script>
    <script src="app/js/vendor/bootstrap.min.js"></script>
    <script src="app/js/vendor/backbone-min.js"></script>
    <script src="app/js/backbone/models/usuario.js"></script>
    <link href="app/css/foro.css" rel="stylesheet">
    <script src="app/js/init.js"></script>
</head>

<body class="bdy bdy-index" ng-app>
    <div id="titles">
        <label class="lbl lbl-title">JavForo</label>
        <label class="lbl lbl-subtitle">The code you're looking for</label>
    </div>
        <form  class="form form-index" action="conect()">
            <input type="text" class="inpt inpt-form" id="user" placeholder="Username" ng-model="user">
            <input type="password" class="inpt inpt-form" id="password" placeholder="Password" ng-model="pass"> </br>
            <div class="fot fot-form">
                <a id="signup">Regístrate</a>
                <a id="forget" onclick="forget()">¿Has olvidado la contraseña?</a></br>
            </div>
            <button type="button" onclick="conect('user','password')" class="bton bton-bootstrap bton-form" id="button">Conectar</button>
        </form>
</body>
</html>
