form.form
	input#text.form-control(placeholder="Nombre")
	input#text.form-control(placeholder="Apellido 1")
	input#text.form-control(placeholder="Apellido 2")
	input#text.form-control(placeholder="Fulanito")
	span.input-group-addon @
	input#text.form-control(placeholder="example.com")