/***************/
/**** TAGS ****/
/***************/
footer{
	position:relative;
	bottom: 0;
	width:100%;
}
code{
	font-size: 77%!important;
}

ul{
	list-style: none;
}
body{
	position: relative;
	min-height: 100vh;
}
.blog-post-body p{
	font-size: 0.9rem!important;
}
.main-wrapper img{
	width:100%;
	height: 315px;
}


/**************/
/** CLASSES **/
/**************/
.header{
	background: #6a76af!important;
}
.profile-image{
	max-height:180px;
}
.d-flex .badge{
	margin-right: 10px;
}
.badge-pill{
	border-radius: 100%;
}
.badge-light{
	background-color: white;
}
.container{
	margin-right: 0;
	max-width: 95%!important;
}
.footer{
	position:  absolute;
	bottom: 0;
	width: 100%;
}


/** ARTICLES TREE VIEW **/
.article-list{
	list-style-type: none;
	margin:  0;
	padding: 0;
}
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.caret-down::before {
  transform: rotate(90deg);
}
/* Hide the nested list */
.nested {
  display: none;
}
/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}



/** LARGE SCREEN SETTINGS **/
@media screen and (min-width: 1201px) {
	.container{
		max-width: 90%!important;
	}
	.mobile{
		display: none;
	}
}
/** MEDIUM SCREEN SETTINGS **/
@media screen and (max-width: 1200px) and (min-width: 992px) {
	.container{
		max-width: 90%!important;
	}
	.mobile{
		display: none;
	}

	.profile-image{
		display: none;
	}
}

/** TABLET SETTINGS **/
@media screen and (max-width: 992px) and (min-width: 480px) {
	.right-bar{
		display: none;
	}
	.desktop{
		display: none;
	}
	.profile-image{
		display: none;
	}	
}

/** MOBILE SETTINGS **/
@media screen and (max-width: 479px) {
	.right-bar{
		display: none;
	}
	.desktop{
		display: none;
	}
	.profile-image{
		display: none;
	}
}