code{
	border-radius: 5px;
}

.main-wrapper{
	height: 100%;
}

footer{
	position:fixed;
	bottom: 0;
	width:100%;
}
  
.profile-image{
	max-height:180px;
}

.d-flex .badge{
	margin-right: 10px;
}

.badge-pill{
	border-radius: 100%;
}

.badge-light{
	background-color: white;
}

.container{
	margin-right: 0;
	margin-left: 13%;
	max-width: 60%!important;
}

.about-section .container{
	margin-left: 5%;
}

code .fa-check{
	color: green;
}

#first-step a{
	color: red;
}

#second-step a{
	color: green!important;
}
