/** TABLET SETTINGS **/
@media screen and (max-width: 992px) and (min-width: 480px) {
	/** Deleted elements **/
	.right-bar{
		display: none;
	}
	.desktop{
		display: block;
	}
	.profile-image{
		display: none;
	}
}

/** MOBILE SETTINGS **/
@media screen and (max-width: 479px) {
	/** Deleted elements **/
	.right-bar{
		display: none;
	}
	.desktop{
		display: block;
	}
	.profile-image{
		display: none;
	}
}