
body{
	background-color: #F5ECCE;
}

div{
	margin-right: 20px;
	margin-bottom:20px;
}


/*-----------------------------*/
/*---------- GRID -------------*/
/*-----------------------------*/

#container{
	width: 100%;
	margin:0 auto;
	display:block;
	text-align: center;
}
#container #grid{
	position: relative;
	margin:0 auto;
	margin-top:10px;
}

.grid4{
	width: 35%;
}
.grid8{
	width: 50%;
}

/*-----------------------------*/
/*---------- OPTIONS ----------*/
/*-----------------------------*/
#options{
	margin:0 auto;
	width:40%;
	margin-top:10px;
}
#reset{
	float:left;
	color: green;
	font-family: cursive;
}
#reset #reload{
	width: 50px;
	border-radius: 7px;
}
#reset #reload:hover{
	background-color: black;
}
#reset #reload:active{
	background-color: green;
}
#reset fieldset{
	border:2px solid #6F1EAB;
}
#dificulty{
	color:green;
	font-family: cursive;
}
#dificulty input[type="checkbox"]{
	display:none;
} 
#dificulty img:hover{
	box-shadow: 0px 0px 2px 2px black;
}
.imgchecked{
	box-shadow: 0px 0px 1px 1px black;
}
#dificulty img{
	margin-right: 16px;
}
#dificulty #por4{
	width: 50px;
	border-radius: 7px;
}
#dificulty #por8{
	width: 50px;
	border-radius: 7px;
}
#dificulty #field{
	border:2px solid #6F1EAB;
	width:30%;
}

/*-----------------------------*/
/*---------- SCORES -----------*/
/*-----------------------------*/
#scores{
	color:green;
	font-family: cursive;
	margin:0 auto;
	width:40%;
}
#scores #fieldscor{
	border:2px solid #6F1EAB;
	width:51%;
}
#scores label{
	margin-right: 20px;
}

/*-----------------------------*/
/*---------- FRAMES -----------*/
/*-----------------------------*/
.frame4{
  border-radius: 4px;
  text-align: center;
  font-weight: bolder;
  font-size: 23px;
  color: red;
  width: 50px;
  height: 50px;
  background-color: #C6A664;
}

.frame8{
  border-radius: 4px;
  text-align: center;
  font-weight: bolder;
  font-size: 23px;
  color: red;
  width: 45px;
  height: 45px;
  background-color: #C6A664;
}
