/*-----------------------------*/
/*---------- GRID -------------*/
/*-----------------------------*/

#container{
	width: 100%;
	margin:0 auto;
	display:block;
	text-align: center;
}
#container #grid{
	width: 35%;
	position: relative;
	margin:0 auto;
	margin-top:10px;
}

/*-----------------------------*/
/*---------- OPTIONS ----------*/
/*-----------------------------*/
#options{
	margin:0 auto;
	width:40%;
	margin-top:10px;
}
#reset{
	float:left;
	color: green;
	font-family: cursive;
}
#reset #reload{
	width: 50px;
	border-radius: 7px;
}
#reset #reload:hover{
	background-color: #EDEDED;
}
#reset #reload:active{
	background-color: green;
}
#reset fieldset{
	border:2px solid #6F1EAB;
}
#dificulty{
	color:green;
	font-family: cursive;
}
#dificulty img{
	margin-right: 7px;
}
#dificulty #por4{
	width: 50px;
	border-radius: 7px;
}
#dificulty #por8{
	width: 50px;
	border-radius: 7px;
}
#dificulty #field{
	border:2px solid #6F1EAB;
	width:35%;
}

/*-----------------------------*/
/*---------- SCORES -----------*/
/*-----------------------------*/
#scores{
	color:green;
	font-family: cursive;
	margin:0 auto;
	width:40%;
}
#scores #fieldscor{
	border:2px solid #6F1EAB;
	width:55%;
}
#scores label{
	margin-right: 20px;
}

/*-----------------------------*/
/*---------- FRAMES -----------*/
/*-----------------------------*/
.frame{
  border-radius: 4px;
  text-align: center;
  font-weight: bolder;
  font-size: 23px;
  color: red;
  width: 50px;
  height: 50px;
  background-color: #C6A664;
}

div{
	margin-right: 20px;
	margin-bottom:20px;
}