.slider-wrapper{
	min-height: 100vh;

	display: flex;
	flex-direction: row;
	justify-content: center;
  	align-items: center;

	background-image: url("../images/background-main-resized.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	}
	@media screen and (max-width: 992px) {
		.slider-wrapper{
			flex-direction: column;
		}
	}